<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="./tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="YourApp Test Suite">
            <directory>tests/Tickets/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="APP_DIR" value="/var/www/html" />
        <env name="env" value="test" />
    </php>
</phpunit>
