{% extends 'layout.html.twig' %}

{% block content %}

  <div>Admin panel</div>
  
  {% if is_granted('ROLE_ADMIN') %}
      <a class="nav-link" href="#">Login:{{name}}</a>
  {% endif %}

{% endblock %}